#masthead .row {
  background-color: #2b576b;
}

body #page {
  background-color: #2b576b;
}

#logo h1 {
  color: #ffffff;
  font-family: 'Palatino Linotype',Palatino,Serif;
}

#block-views-new-coupons-block h2 {
  color: #bdbdbd;
  font-weight: bold;
  font-family: Verdana,Geneva,Sans-Serif;
  font-size: 33px;
}

.views-field .field-content {
  color: #cccacc;
  font-weight: bold;
}

.field-item p {
  color: #d1cdd1;
  font-weight: bold;
}

#breadcrumbs .breadcrumb {
  background-color: #46698f;
  color: #292729;
  font-weight: bold;
}

.row .col-sm-6 {
  color: #bdbdbd;
}

li a {
  background-color: #3a4d61;
}

div .form-item {
  color: #c2c2c2;
}

#content-wrap h1 {
  color: #68b8cc;
  font-family: 'Times New Roman',Times,Serif;
  font-size: 48px;
}

.content ul {
  color: #bab8ba;
}

.field-items .field-item {
  color: #b3b1b3;
  font-weight: bold;
}

.field .field-label {
  color: #bababa;
  font-size: 17px;
}

#comments h2 {
  color: #383638;
  font-weight: bold;
  font-family: 'Lucida Sans','Lucida Grande',Sans-Serif;
}

.text-format-wrapper #edit-comment-body-und-0-format {
  background-color: #2c475c;
}

